.wrapper {
    position: relative;
    margin-left: 0px;
    width: 100%;
    height: 600px;
}

.field {
    position: absolute;
    width: 100%;
    height: 294px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    font-size: 25px;
}

.boardBlock {
    position: absolute;
    display: flex;
    left: calc(50% - 800px / 2);
    width: 800px;
    height: 300px;
    top: 300px;
    justify-content: space-between;
    flex-direction: column;
}

.rows {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-self: center;
}

.keys {
    position: relative;
    display: flex;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-color: black;
    align-self: center;
    border-width: 1px;
    border-radius: 3px;
    justify-self: center;
    align-content: center;
    text-align: center;
    /*flex-grow: 1;*/
    align-items: center;
    justify-content: center;
    font-size: 18px;
    user-select: none;
}

.keys:hover {
    border-color: red;
    cursor: pointer;
    box-sizing: border-box;
    border-width: 2px;
}

.key {
    top: 3px;
    width: 40px;
    height: 40px;
    border: 3px;
    border-bottom-color: black;
    border-style: solid;
}
